<a href="https://colab.research.google.com/github/hiba0903/DSA-Daily-Tasks/blob/main/DSA_BasicPyTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given the string "Hello, World!", extract and print the
substring "Hello".

In [1]:
string = "Hello, World!"
substring = string[:5]  # Extracting "Hello"
print(substring)

Hello

2. Given the string "Python is fun", extract and print the
substring "is".

In [2]:
string = "Python is fun"
substring = string[7:9]  # Extracting "is"
print(substring)

is

3. Given the string "Programming", extract and print the
substring "gram" using slicing indices.

In [3]:
string = "Programming"
substring = string[3:7]  # Extracting "gram"
print(substring)

gram

4. Given the string "abcdefgh", use slicing to print only the
characters at even indices.

In [4]:
string = "abcdefgh"
even_indices_chars = string[::2]  # Characters at even indices
print(even_indices_chars)

aceg

5. Given the string "abcdefg", use negative indices to extract
and print the substring "efg".

In [5]:
string = "abcdefg"
substring = string[-3:]  # Extracting "efg" using negative indices
print(substring)

efg

6. Given the string "Data Science", use negative indices to
extract and print the last three characters.

In [6]:
string = "Data Science"
last_three_chars = string[-3:]  # Extracting last three characters
print(last_three_chars)

nce

7. Given the string "abcdefghij", use slicing with a step to
print every second character.

In [7]:
string = "abcdefghij"
every_second_char = string[::2]  # Every second character
print(every_second_char)

acegi

8. Given the string "1234567890", use slicing with a step to
print the odd digits.

In [9]:
string = "1234567890"
odd_digits = string[1::2]  # Odd digits
print(odd_digits)

24680

9. Given the string "Hello", use slicing to print the string in
reverse order.

In [10]:
string = "Hello"
reverse_string = string[::-1]  # Reversing the string
print(reverse_string)

olleH

10. Given the string "abcdefghijk", extract and print the
substring "acegik" using slicing.

In [11]:
string = "abcdefghijk"
substring = string[::2]  # Extracting "acegik"
print(substring)

acegik

11. Write a program to find sum of all elements in a list of
integers

In [12]:
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)  # Sum of all elements
print("Sum of all elements:", total_sum)

Sum of all elements: 15

12. Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [13]:
sentence = input("Enter a sentence: ")

# Print the length of the sentence
print("Length of the sentence:", len(sentence))

# Print the first half of the sentence
half_length = len(sentence) // 2
print("First half of the sentence:", sentence[:half_length])

Enter a sentence: hello world
Length of the sentence: 11
First half of the sentence: hello

13. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [14]:
# Tuples are immutable, so we need to convert to a list, modify, and then convert back to a tuple
tupleA = (78, 45, 32, 19, 82, 77, 40, 39)
listA = list(tupleA)
listA[2] = 100
tupleA = tuple(listA)
print("Modified tuple:", tupleA)

Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

14. Consider a list
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [17]:
listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

# (a) Delete the first occurrence of 32
listA.remove(32)

# (b) Delete all occurrences of 40
listA = [x for x in listA if x != 40]

# (c) Delete the value at index 5
del listA[5]

# (e) Add 200 at index 2
listA.insert(2, 200)

# (d) Modify the value at index 9 to 300
listA[9] = 300



# (f) Print the final list with its length, maximum value, and sum
print("Final list:", listA)
print("Length of the list:", len(listA))
print("Maximum value in the list:", max(listA))
print("Sum of all elements in the list:", sum(listA))

Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 300]
Length of the list: 10
Maximum value in the list: 300
Sum of all elements in the list: 751

15. Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [18]:
string = "The day has been long"

# (a) Delete the value at index = 4
string = string[:4] + string[5:]

# (b) Print the string 4 times in a single line with space
print((string + " ") * 4)

# (c) Print the string 3 times, each on a new line
print((string + "\n") * 3)

# (d) Modify the string at index 7 as 'A'
string = string[:7] + 'A' + string[8:]

# (e) Print the string from index 4 to 15
print(string[4:16])

# (f) Print the final string with its length
print("Final string:", string)
print("Length of the string:", len(string))

The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long

ay Aas been
Final string: The ay Aas been long
Length of the string: 20