#**DAY 1**

In [ ]:
print('Hello World')

Hello World

In [ ]:
fred=100
John=fred
print(John)

100

In [ ]:
name = input()

hiba

In [ ]:
print(name)

hiba

**Taking input and printing output**

In [ ]:
name=input("Enter name ")
print(name )
print(int(input("enter your age ")))

Enter name Hiba
Hiba
enter your age 23
23

In [ ]:
 print(type(name))

<class 'str'>

#**DAY 2**

In [ ]:
x=10
y=10.55
z=1+2j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Making complex number using function**

In [ ]:
x=complex(1,2)
x

(1+2j)

In [ ]:
var1=float(input("Enter your number "))
var2=23.133

print(var1)
print(var2)

Enter your number 5
5.0
23.133

**Strings**

In [ ]:
name="Ally the Alien"

name

'Ally the Alien'

In [ ]:
Greeting="Welcome to Earth"
Message=name+", "+Greeting
Message

'Ally the Alien, Welcome to Earth'

In [ ]:
print("python"*3)

print("python\n"*3)

pythonpythonpython
python
python
python

In [ ]:
fname=input("What is your forename? ")
print("Hello"+" "+fname)

What is your forename? John
Hello John

In [ ]:
s="python"
print(s[0])
print(s[-3])
print(s[1])
s[-len(s)]

p
h
y

'p'

In [ ]:
print(s[0:6:2])
print(s[-5:-2])
print(s[0:-2])
print(s[0:3])

pto
yth
pyth
pyt

In [ ]:
print(s.swapcase())
print(s.capitalize())
print(s.upper())

PYTHON
Python
PYTHON

**Boolean**

In [ ]:
x= True
y= False
print(type(x))

<class 'bool'>

In [ ]:
#Working time

float("4.5")
int("25")
int(6.25)
float(6)
str(True)
bool("Hwllom workd")
bool(0)

False

**Mathematical Operations**

In [ ]:
#Addition
n=2+3
print(n)

#raise to
m=2**3
print(m)

#division
o=10/3
print(o)

#floor division
p=10//3
print(p)

5
8
3.3333333333333335
3

**LIST & TUPLES**

In [ ]:
to_buy=['books','eraser','pen','sharpner']
print(to_buy)

['books', 'eraser', 'pen', 'sharpner']

In [ ]:
#to update a list
to_buy.append('Scale') #this adds the element to the end
print(to_buy)

['books', 'eraser', 'pen', 'sharpner', 'Scale']

In [ ]:
#removing an item
to_buy.remove('Scale')
print(to_buy)

['books', 'eraser', 'pen', 'sharpner']

In [ ]:
#inserting an item
to_insert="notepad"
to_buy.insert(5,to_insert) #inserts items at any index

print(to_buy)

['books', 'notepad', 'Pencil', 'Pencil', 'Paper', 'notepad', 'notepad', 'Paper', 'eraser', 'pen', 'sharpner']

In [ ]:
#TUPLE

items=('veg','fruits')
items

('veg', 'fruits')

In [ ]:
items.append("choocolate") #tuple is immutable

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#defining a set

ab={1,2,3,1,2,3,4,5,'a','b'} # returns only the distict values
ab

{1, 2, 3, 4, 5, 'a', 'b'}

# **Realational Operators**

In [ ]:
a=5
b=3
a>=b

True

In [ ]:
a==b

False

In [ ]:
a!=b

True

In [ ]:
a==5 and b<4

True

In [ ]:
a is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-87-80e6b7447efe>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 5

True

In [ ]:
a is not b

True

# **Conditional Statements**

In [ ]:

budget=int(input("What is your budget: "))
price_of_tv = 20000
emi_available = True
emi_amt=2000

if price_of_tv <= budget:
  print("I will buy the tv")
elif emi_amt<price_of_tv:
  print("I will buy the tv")
else:
  print("I will not buy the tv")

What is your budget: 18000
I will buy the tv

In [ ]:
current_temp=int(input("What is the current temperature: "))

if current_temp==20:
  print("I will not go out")
elif current_temp>20:
  print("I will not take the umbrella")
else:
  print("I will  take umbrella")

What is the current temperature: 20
I will not go out

In [ ]:
#Checking the geratest number
  # METHOD 1 with nested if
a=int(input("Enter number 1: "))
b=int(input("Enter number 2: "))
c=int(input("Enter number 3: "))

if a>b:
  if b>c:
    print("a is greater")
if b>c:
  if b>a:
    print("b is greater")
else:
  print("c is greater")

Enter number 1: 8
Enter number 2: 10
Enter number 3: 6
b is greater

In [ ]:
#Checking the greatest number
  # METHOD 2 with relational operators

a=int(input("Enter number 1: "))
b=int(input("Enter number 2: "))
c=int(input("Enter number 3: "))

if a>b and b>c:
    print("a is greater")
if b>c and b>a:
    print("b is greater")
else:
  print("c is greater")

Enter number 1: 10
Enter number 2: 8
Enter number 3: 15
c is greater

In [ ]:
#ODD - EVEN CHECKER

number=int(input("Enter your input: "))

if number%2==0:
  print("The number is even")
else:
  print("The number is odd")

Enter your input: 8
The number is even

# **CALCULATOR APP**


*  Accept two values from user
*  Accept choice from user , 1. add, 2.sub, 3.mul, 4.divide if none choosed then wrong choice
*   Perfrom operation and display output

In [ ]:
print("\n\t\t\t***************CALCULATOR****************\n\n")
num1=float(input("Enter the number 1: "))
num2=float(input("Enter the number 2: "))

choice=int(input("\nEnter your choice:\n\t1.Add\n\t2.Subtract\n\t3.Multiply\n\t4.Divide\n\n"))
if choice==1:
  print("\nYour choice is Addition\n")
  print("Result: ",num1+num2)
elif choice==2:
  print("\nYour choice is Subtraction\n")
  print("Result: ",num1-num2)
elif choice==3:
  print("\nYour choice is Multiplication\n")
  print("Result: ",num1*num2)
elif choice==4:
  print("\nYour choice is Division\n")
  print("Result: ",num1/num2)
else:
  print("Invalid choice")

			***************CALCULATOR****************


Enter the number 1: 98
Enter the number 2: 45.2

Enter your choice:
	1.Add
	2.Subtract
	3.Multiply
	4.Divide

2

Your choice is Subtraction

Result:  52.8

#**ITERATIVES**

***FOR LOOPS***

In [1]:
#PRINTING FROM A TUPLE

num=[1,2,3,4,5]
for i in num:
  print(i)

1
2
3
4
5

In [4]:
#PRINTING NUM USING RANGE
for i in range(5):
  print(i)

0
1
2
3
4

In [3]:
#PRINTING NUM USING RANGE WITH START AND END VAL

for i in range(1,6):
  print(i)

1
2
3
4
5

In [5]:
#PRINTING ODD NUMBERS < range(start,stop,step) >

for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [9]:
#printing all the number within a user inputted num

n=int(input("Enter the last number: "))
sum=0
for number in range(1,n):
  sum+=number
print(sum)

Enter the last number: 8
28

In [10]:
#PRINTING LETTERS FROM A STRING

name='hiba'
for letter in name:
  print(letter)

h
i
b
a

In [12]:
#USING LEN()

list_a=[1,2,3,4,5,6,'',7,8]
name="hiba"

print(len(list_a))
print(len(name))

9
4

In [15]:
list_b=['a','b','c','d','e']

for let in range(len(list_b)):
  print(let,list_b[let])

0 a
1 b
2 c
3 d
4 e

In [20]:
#printing the sum of even numbers within a range

num_1=int(input("Enter the limit of sum: "))
sum=0
for num in range(0,num_1+1,2):
  sum+=num
print(sum)

Enter the limit of sum: 10
30

***WHILE LOOP***

```
while test expression:
  works if test expr is true
else:
  if false
```

In [ ]:
a=10

while