<a href="https://colab.research.google.com/github/hiba0903/DSA-Daily-Tasks/blob/main/Py_Assg_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 1

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [1]:
import math

# Accept radius from the user
radius = float(input("Enter the radius: "))

# Compute the area
area = math.pi * radius * radius

# Display the area
print(f"Area of Circle is {area}")

Enter the radius: 2
Area of Circle is 12.566370614359172

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [2]:
# Accept student details from the user
name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")

# Display student details
print(f"Name: {name}")
print(f"Roll No: {roll_number}")
print(f"Mark: {mark}")

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [3]:
numbers = list(map(int, input("Enter numbers separated by commas: ").split(',')))

largest = max(numbers)

print(f"{largest} is the largest number.")

Enter numbers separated by commas: 2,8,6,2,0,7
8 is the largest number.

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [4]:
previous_number = 0
for current_number in range(1, 11):
    _sum = current_number + previous_number
    print(f"Current Number {current_number} Previous Number {previous_number} Sum: {_sum}")
    previous_number = current_number

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [9]:
numbers = list(map(int, input("Enter numbers separated by commas: ").split(',')))

divisible_by_5 = [num for num in numbers if num % 5 == 0]
print(divisible_by_5)

Enter numbers separated by commas: 1,8,3,6,2,7
[]

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [10]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Accept number from the user
number = int(input("Enter the number: "))

# Check if it is prime
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter the number: 22
22 is not a prime number.

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [11]:
# Input list of numbers from the user
numbers = list(map(int, input("Enter numbers separated by commas: ").split(',')))

# Reverse the list using a for loop
reversed_list = []
for num in numbers:
    reversed_list.insert(0, num)

# Display the reversed list
print(", ".join(map(str, reversed_list)))

Enter numbers separated by commas: 10,40,30,70
70, 30, 40, 10

8. Write a Python program to print the following pattern.
*
**
***
****

In [12]:
# Define the number of rows
rows = 4

# Print the pattern
for i in range(1, rows):
    print('*' * i)

*
**
***

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [13]:
# Input three numbers from the user
a, b, c = map(int, input("Enter three numbers separated by commas: ").split(','))

# Find the maximum number
maximum = max(a, b, c)

# Display the maximum number
print(maximum)

Enter three numbers separated by commas: 34,12,7
34

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [14]:
# Define the maximum number of stars in the middle line
n = 5

# Print the upper part of the pattern
for i in range(1, n):
    print('*' * i)

# Print the lower part of the pattern
for i in range(n, 0, -1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*

## Assignment 2

1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [17]:
# Accept a string from the user
string_value = input("Enter a string value: ")

# Create a dictionary to store the count of each character
char_count = {}

# Count the occurrences of each character
for char in string_value:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Display the count of each character
output = ', '.join(f"{char}={count}" for char, count in char_count.items())
print(output)

Enter a string value: assembly
a=1, s=2, e=1, m=1, b=1, l=1, y=1

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [18]:
def find_maximum(a, b, c):
    return max(a, b, c)

# Input three numbers from the user
a, b, c = map(int, input("Enter three numbers separated by commas: ").split(','))

# Find and print the maximum number
print(find_maximum(a, b, c))

Enter three numbers separated by commas: 34,12,7
34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [19]:
def exponent(base, exp):
    return base ** exp

# Input base and exponent from the user
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))

# Compute and print the result
print(exponent(base, exp))

Enter the base: 2
Enter the exponent: 3
8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [20]:
def sum_of_cubes(n):
    return sum(i**3 for i in range(n))

# Input a positive integer from the user
number = int(input("Enter a positive integer: "))

# Compute and print the result
print(sum_of_cubes(number))

Enter a positive integer: 5
100

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [21]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [23]:
from collections import Counter

# Input list of numbers from the user
numbers = list(map(int, input("Enter numbers separated by commas: ").split(',')))

# Find the most frequent item
counter = Counter(numbers)
most_frequent = counter.most_common(1)[0][0]

# Display the most frequent item
print(most_frequent)

Enter numbers separated by commas: 2,3,4,2,5,2
2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [24]:
# Input list of numbers from the user
numbers = list(map(int, input("Enter numbers separated by commas: ").split(',')))

# Compute the sum of squares
sum_of_squares = sum(num ** 2 for num in numbers)

# Display the result
print(sum_of_squares)

Enter numbers separated by commas: 2,1,3,1
15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [25]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [26]:
def fahrenheit_to_celsius(f):
    return (f - 32) * 5 / 9

# Input temperature in Fahrenheit from the user
fahrenheit = float(input("Temperature in Fahrenheit = "))

# Convert to Celsius and print the result
celsius = fahrenheit_to_celsius(fahrenheit)
print(f"Temperature in Celsius = {celsius:.1f}")

Temperature in Fahrenheit = 23
Temperature in Celsius = -5.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [27]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Input a non-negative integer from the user
number = int(input("Enter a non-negative integer: "))

# Compute and print the factorial
print(factorial(number))

Enter a non-negative integer: 3
6